@import '__variables.less';

.photo-upload {
    cursor: pointer;
}

.photo-upload > a {
    transition: all 0.25s;
    border: solid 2px #FFFFFF;
    box-shadow: @box-shadow;
}

.photo-upload > a:hover {
    border-color: @col-main;
}

.photo-upload > a.has-image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.photo-upload form {
    display: none !important;
}

.listing-section.photos.edit > div {
    max-width: 1024px;
}

.listing-section.photos.edit > div > div {
    width: 100%;
    margin: 0;
    overflow: visible;
    white-space: normal;
    display: flex;
}

.listing-section.photos.edit > div > div > div {
    padding: 10px;
    flex: 0 0 50%;
}

.listing-section.photos.edit > div > div > div > a {
    display: block;
    height: 280px;
    background-color: #FFFFFF;
    position: relative;
}

.listing-section span.plus {
    background-color: @col-main;
    color: #FFFFFF;
    height: 50px;
    width: 50px;
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 50px;
    padding: 0;
    text-align: center;
}