@import '__variables.less';

section.listings {
    max-width: 1024px;
    margin: 20px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
}

section.listings > .listing {
    flex: 0 0 33.3%;
    padding: 10px;
}

section.listings > .listing > a {
    display: block;
    width: auto;
    box-shadow: @box-shadow;
    border: solid 2px @col-main;
    border-radius: 3px;
    padding: 10px;
    text-decoration: none;
    color: @col-main;
}
