@import '__variables.less';

.listing-section .content-editable {
    box-shadow: @box-shadow;
    border: solid 2px rgba(0, 0, 0, 0.2);
    outline: none;
    font-family: 'Raleway', sans-serif;
    border-radius: 3px;
    transition: all 0.2s;
}

.listing-section .content-editable:hover, .listing-section .content-editable:focus {
    border-color: @col-main;
    border-style: solid;
}

.listing-section.overview > div:nth-child(2) {
    display: flex;
    flex-direction: column;
    padding-bottom: 0;
}

.listing-section.overview #listing-name {
    flex: 0 0 40px;
    display: block;
    font-size: 26px;
    font-weight: 900;
    text-transform: uppercase;
    padding: 10px;
    margin-bottom: 20px;
}

.listing-section.overview #listing-description {
    position: relative;
    margin-bottom: 10px;
    flex: 1;
    resize: none;
    min-height: 100px;
    font-size: 15px;
    line-height: 1.5;
    padding: 10px;
}

.listing-section .contact-info > a {
    display: flex !important;
    flex-direction: row;
    padding: 5px 0 !important;
}

.listing-section .contact-info > a > span {
    flex: 0 0 20px;
    position: relative !important;
    top: 8px !important;
}

.listing-section .contact-info > a > .content-editable {
    flex: 1;
    padding: 5px;
}

.listing-section .facility.editing:not(.selected) .icon, .listing-section .facility.editing:not(.selected) span {
    opacity: 0.2;
}

.listing-section div.facility {
    cursor: pointer;
}

.listing-section div.facility > span {
    cursor: pointer;
    transition: all 0.2s;
}

.listing-section div.facility:hover > span:not(.icon) {
    opacity: 1 !important;
}