@import "./partials/__variables.less";

.profile-section {
  max-width: none;
  margin: 0 auto;
  padding: 30px 0;
  position: relative;
  display: flex;
  flex-wrap: wrap;

  & > div {
    width: @site-width;
    margin: 0 auto;
    position: relative;

    h1 {
      font-size: 26px;
      font-weight: 900;
      text-transform: uppercase;
      padding: 0 0 20px 0;
    }

    &.flex {
      display: flex;
      flex-direction: row;

      & > div {
        flex: 1;
      }
    }
  }

  &.user-profile {
    padding: 30px 0 0 0;

    & > div {
      padding-left: 190px;

      .avatar {
        display: block;
        margin-top: -70px;
        margin-left: -190px;
        position: absolute;
        width: 160px;
        border-radius: 80px;
        line-height: 140px;
        font-size: 50px;
        text-align: center;
        color: #fff;
        text-shadow: @box-shadow;
        border: solid 10px #fff;
        box-shadow: @box-shadow;
      }

      h1 {
        font-size: 26px;
        font-weight: 900;
        text-transform: uppercase;
      }

      &.actions {
        text-align: right;
        border-bottom: solid 1px @col-grey;
        padding: 10px 0;

        button {
          display: inline-block;
        }
      }
    }
  }

  &.alternating {
    &:nth-of-type(odd) {
      background-color: transparent;
    }

    &:nth-of-type(even) {
      background-color: @col-body-bg;

      &.prices > div .price {
        border-color: @col-body-bg;

        & > span {
          background-color: @col-button-fg;
        }
      }
    }
  }

  &.blue {
    background-color: @col-main;
    color: @col-button-fg;
  }

  .no-data {
    font-style: italic;
  }

  &.latest-activity > div {
    @card-height: 95px;

    height: @card-height + 46px;

    .scrollable-container {
      height: @card-height;
    }
  }
}

@import "./partials/scrollable.less";
@import "./partials/icon_card.less";
@import "user.mq.less";
