@import "./partials/__variables.less";

.profile-section {
  max-width: none;
  margin: 0 auto;
  padding: 30px 0;
  position: relative;
  display: flex;
  flex-wrap: wrap;

  & > div {
    width: @site-width;
    margin: 0 auto;
    position: relative;

    h1 {
      font-size: 26px;
      font-weight: 900;
      text-transform: uppercase;
      padding: 0 0 20px 0;
    }

    &.flex {
      display: flex;
      flex-direction: row;

      & > div {
        flex: 1;
      }
    }
  }

  &.user-profile {
    padding: 30px 0 0 0;

    & > div {
      padding-left: 190px;

      .avatar {
        display: block;
        margin-top: -70px;
        margin-left: -190px;
        position: absolute;
        width: 160px;
        border-radius: 80px;
        line-height: 140px;
        font-size: 50px;
        text-align: center;
        color: #fff;
        text-shadow: @box-shadow;
        border: solid 10px #fff;
        box-shadow: @box-shadow;
      }

      h1 {
        font-size: 26px;
        font-weight: 900;
        text-transform: uppercase;
      }

      &.actions {
        text-align: right;
        border-bottom: solid 1px @col-grey;
        padding: 10px 0;

        button {
          display: inline-block;
        }
      }
    }
  }

  &.alternating {
    &:nth-of-type(odd) {
      background-color: transparent;
    }

    &:nth-of-type(even) {
      background-color: @col-body-bg;

      &.prices > div .price {
        border-color: @col-body-bg;

        & > span {
          background-color: @col-button-fg;
        }
      }
    }
  }

  &.blue {
    background-color: @col-main;
    color: @col-button-fg;
  }

  .no-data {
    font-style: italic;
  }

  &.icon-cards {
    .card {
      flex: none;
      width: 25%;
      min-width: 25%;
      padding: 10px 0;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      float: left;
      align-items: center;
      text-decoration: none;

      &:link {
        cursor: pointer;

        span,
        label {
          cursor: pointer;
        }
      }

      .icon {
        height: 60px;
        width: 60px;
        border-radius: 30px;
        display: block;
        margin: 0 auto;
        background-color: #ddd;
        flex: 0 0 60px;
        border: solid 2px #fff;

        &.fa {
          background-color: @col-main;
          color: #fff;
          font-size: 30px;
          line-height: 56px;
          text-align: center;
        }
      }

      span {
        padding: 10px;
        display: block;
        flex: 1;
        font-weight: 600;
        text-transform: uppercase;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        label {
          display: block;
          font-size: 13px;
          text-transform: none;
          opacity: 0.75;
          padding-top: 5px;
          font-weight: normal;

          &.sub-title {
            opacity: 1;
            color: @col-main;
            font-weight: 700;
            text-transform: uppercase;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
      }

      &:not(.badge) {
        color: @col-body-fg;
      }

      .stars {
        padding: 5px 0 5px 0;
        opacity: 1;
        color: @col-grey;

        .color {
          color: @col-main;
        }
      }

      .detail {
        flex: none;
        flex-basis: 100%;
        padding: 5px 0 0 0;
        font-size: 14px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      &.review {
        padding: 0 10px;
        box-sizing: border-box;
        border-right: solid 1px @col-grey;

        &:last-of-type {
          border-right: none;
        }

        .icon {
          border-radius: 0;
          background-size: contain;
          background-color: #fff;
          background-position: center center;
          background-repeat: no-repeat;
          box-shadow: @box-shadow;
        }
      }
    }
  }

  .scrollable-container {
    position: absolute;
    left: 0;
    right: 0;

    & > div {
      overflow: hidden;
      white-space: nowrap;
      display: block;
      position: absolute;
      left: 0;
      right: 0;
    }

    .scrollable {
      float: none;
      flex: none;
      position: relative;
      display: inline-block;
      transition: all 0.2s;
      align-self: center;

      .card {
        width: 100%;
      }
    }

    &.four {
      .scrollable {
        flex: 0 0 25%;
        width: 25%;
        max-width: 25%;
      }
    }

    &.three {
      .scrollable {
        flex: 0 0 33.3%;
        width: 33.3%;
        max-width: 33.3%;
      }
    }

    .next,
    .prev {
      position: absolute;
      top: 0;
      bottom: 0;
      left: -50px;
      width: 40px;
      text-align: center;
      font-size: 50px;
      color: #ddd;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-decoration: none;
      transition: all 0.2s;
    }

    .prev {
      left: -40px;
      right: auto;
    }

    .next {
      left: auto;
      right: -40px;
    }

    .hidden {
      opacity: 0;
      cursor: default;
    }
  }

  &.latest-activity > div {
    @card-height: 95px;

    height: @card-height + 46px;

    .scrollable-container {
      height: @card-height;
    }
  }

  &.feedback > div {
    @card-height: 96px;

    height: @card-height + 46px;

    .scrollable-container {
      height: @card-height;
    }
  }
}

@import "user.mq.less";
