extends layout

block css
  link(rel='stylesheet', href='/css/_default.min.css')
  link(rel='stylesheet', href='/css/add_activity.min.css')

block js
  script(type='text/javascript', src='/js/add_activity.js')

block content
  header(id="header")
    div
      nav
        a(id="logo" href="/")
        a(class="sign-in" href="/#sign-in") Sign In
      div(class="search-wrapper")
        div(id="search-activity-wrapper")
          input(id="search-activity" type="text" placeholder="Find activities or events in")
        div(id="search-location-wrapper")
          input(id="search-location" type="text" placeholder="[LOCATION]")
        button(id="search-button" class='round-button')
          span(class="fa fa-search")
          span(class="search-text") Search
      div(id="add-activity")
        span Still haven't found what you're looking for?
        a(href="/#add") Add it!
  article(id="body")
    ul(class="activities")
      each activity in activities.data
        li(class="activity")
          a(class="content" href="/activities/" + activity._id)
            div(class="photos")
              span(class="main")
              div(class="thumb-strip")
                span(class="thumb" href="")
                span(class="thumb" href="")
                span(class="thumb" href="")
            h3 #{activity.name}
            span #{activity.location}
            p #{activity.description}
  footer(id="footer")