doctype html
html
  head
    title= title
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0")
    block meta
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Raleway:400,700,900')
    link(rel='stylesheet', href='/css/boredpass-icons.css')
    link(rel='stylesheet', href='/css/boredpass.min.css')
    link(rel='stylesheet', href='/css/sign_in.min.css')
    link(rel='stylesheet', href='/css/search.min.css')
    link(rel='stylesheet', href='/css/listing_wizard.min.css')
    link(rel='stylesheet', href='/css/content_management.min.css')
    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.1.0/css/all.css', integrity='sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt', crossorigin='anonymous')
    block css
    script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    script(type='text/javascript', src='/js/boredpass.js')
    script(type='text/javascript', src='/js/shared.js')
    script(type='text/javascript', src='/js/auth.js')
    script(type='text/javascript', src='/js/search.js')
    script(type='text/javascript', src='/js/add_listing.js')
    block js
  body
    - var isAuthenticated = authentication && authentication.isAuthenticated
    header#header
      nav
        div
          a.logo.small(href="/")
          if !minimalBanner
            a.find(href="/find") Find
              span.fa.fa-search
            if isAuthenticated && authentication.user.permissions && authentication.user.permissions.addListing
              a.add(href="/listings/add") Add
                span.fa.fa-plus
            if isAuthenticated && authentication.user.permissions && authentication.user.permissions.claimListing
              a.claim Claim
                span.fa.fa-hand-pointer
          include partials/profile_box
      nav
        a.logo(href="/")
    article#body
      block content
    footer#footer
      div
        nav
          h1 Bored Pass
          div
            if isAuthenticated
              a(href="/user/" + authentication.user._id) My Profile
              a(href="/secure/sign-out").sign-out Sign Out
            if !isAuthenticated
              a(href="/secure/register").register Register
              a(href="/secure/sign-in").sign-in Sign In
        nav
          h1 Explore
          div
            each cat in (categories || (req && req.listing_categories) || [])
              a(href='/categories/' + cat.urlCategory + '/')= cat.category
        nav
          h1 Read
          div
            a(href="/terms-and-conditions") Terms & Conditions
            a(href="/frequently-asked-questions") FAQ
        nav
          h1 Get in touch
          div
            a Send a mail
            div.social
              a.twitter.fab.fa-twitter
              a.facebook.fab.fa-facebook-f
              a.google.fab.fa-google
      div.copyright Copyright &copy; #{moment && moment().format("YYYY")} BoredPass. All rights reserved.