doctype html
html
  head
    title= title
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0")
    block meta
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Raleway:400,700,900')
    link(rel='stylesheet', href='/css/boredpass-icons.css')
    link(rel='stylesheet', href='/css/boredpass.min.css')
    link(rel='stylesheet', href='/css/sign_in.min.css')
    block css
    script(type='text/javascript', src='https://use.fontawesome.com/bd0f643562.js')
    script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    script(type='text/javascript', src='/js/boredpass.js')
    script(type='text/javascript', src='/js/shared.js')
    script(type='text/javascript', src='/js/auth.js')
    block js
  body
    - var isAuthenticated = authentication && authentication.isAuthenticated
    header#header
      nav
        div
          a.logo.small(href='/')
          a.find Find
          if isAuthenticated && authentication.user.permissions && authentication.user.permissions.addListing
            a.add(href="/listings/add") Add
          if isAuthenticated && authentication.user.permissions && authentication.user.permissions.claimListing
            a.claim Claim
          if isAuthenticated
            a.sign-out(href="/secure/sign-out") Sign Out
          if !isAuthenticated
            a.sign-in(href="/secure/sign-in") Sign In
      nav
        a.logo(href='/')
    article#body
      block content
    footer#footer
      div
        nav
          h1 Bored Pass
          div
            a Register
            a Sign In
        nav
          h1.no-content
          div
            a Add a Listing
            a Add an Activity
        nav
          h1.no-content
          div
            a Terms & Conditions
            a FAQ
        nav
          h1 Get in touch
          div
            a Send a mail
            div.social
              a.twitter.fa.fa-twitter
              a.facebook.fa.fa-facebook
              a.google.fa.fa-google-plus
      div.copyright Copyright &copy; #{moment && moment().format("YYYY")} BoredPass. All rights reserved.