extends _layout

include mixins/activities
include mixins/facilities
include mixins/photos

block css
  link(rel='stylesheet', href='/css/listing.min.css')

block js
  script(type='text/javascript', src='/js/listing.js')

block content
  section.banner
    div
      a.provider
        span.logo
        span Provider Name
  section.listing-section.overview.activity.white
    div
      div.photo
      a.location(target='_blank', href='https://google.com/maps/place/' + encodeURIComponent(activity.address))
        span.fa.fa-map-marker
        span= activity.address
    div
      h1= activity.name
      != marked(activity.description)
    div
      span.rating
        label Rating Type 
        span.stars
          span.fa.fa-star.color
          span.fa.fa-star.color
          span.fa.fa-star.color
          span.fa.fa-star.color
          span.fa.fa-star
      a.add
      a.message
      a.share
  section.space-fixer
  +photos(activity.photos).white
  +activities([]).blue
  +facilities([]).grey
  section.listing-section.prices.white
    div
      h1 Prices
      div.price
        label Kids Price
        span from $42.00
      div.price
        label Adult Price
        span from $54.00
      div.price
        label Pensioner Price
        span from $45.00
      div.price
        label Price
        span free
  section.listing-section.find-more.grey
    div
      h1 Still bored? Find more activities like this.
      a.find.button(href='/search') Find