extends layout_content

block css
  link(rel='stylesheet', href='/css/listing.min.css')

block js
  script(type='text/javascript', src='/js/listing.js')

block content
  section(class='banner')
  section(class='listing-section overview')
    div
      div(class='logo')
      a(class='location') address goes here
      a(class='telephone') +0000 000 0000
      a(class='email') email@address.com
      a(class='website') www.address.com
      div(class='social')
        a(class='twitter')
        a(class='facebook')
        a(class='google')
        a(class='instagram')
        a(class='pinterest')
        a(class='youtube')
    div
      h1 Title goes here
      p Some content goes here
      p Another paragraph of content
      p Last paragraph of content
      button(class='subscribe') Subscribe
    div
      span(class='rating')
        label Rating Type 
        span(class='stars')
          span(class='star')
          span(class='star')
          span(class='star')
          span(class='star')
      span(class='claimed') Claimed
      a(class='add')
      a(class='message')
      a(class='share')
  section(class='listing-section facilities')
    div
      h1 Our Facilities
      span(class='facility children') Child Friendly
      span(class='facility dogs') Dog Friendly
      span(class='facility wheelchairs') Wheelchair Friendly
      span(class='facility picnic') Picnic Facilities
  section(class='listing-section photos')
    div
      a(class='prev')
      a(class='photo photo1')
      a(class='photo photo2')
      a(class='photo photo3')
      a(class='photo photo4')
      a(class='next')
  section(class='listing-section activities')
    div
      h1 Our Activities
      div(class='activity')
        div(class='photo')
        h2 Title of activity
        p Description of activity
        button(class='read-more') Read More
      div(class='activity')
        div(class='photo')
        h2 Title of activity
        p Description of activity
        button(class='read-more') Read More
      div(class='activity')
        div(class='photo')
        h2 Title of activity
        p Description of activity
        button(class='read-more') Read More
  section(class='listing-section events')
    div(class='calendar')
    div(class='agenda')
  section(class='listing-section lower')
    a(class='report') Report Listing