extends layout_content

block css
  link(rel='stylesheet', href='/css/listing.min.css')

block js
  script(type='text/javascript', src='/js/listing.js')

block content
  section(class='banner')
    div
      h1 Add a new listing
  