extends _layout

block content
  section.banner
    header.banner-image.home
    div.cover
    div
      h2 Uh-oh
      h1 Something went wrong
  section.body.error
    div
      h1 #{error.status}: #{message}
      if error.stack
        pre #{error.stack}