extends _layout

block css
  link(rel='stylesheet', href='/css/listing.min.css')
  link(rel='stylesheet', href='/css/adding.min.css')

block content
  section.banner
    div
      h1 Uh-oh, <strong>something went wrong<strong>
  section.listing-section.white
    div
      h1 #{error.status}: #{message}
      pre #{error.stack}