extends _layout

block css
  link(rel='stylesheet', href='/css/home.min.css')

block content
  section.banner
  section.listings
    each listing in listings
      div.listing
        a(href='/listings/' + listing._id)
          span.icon.boredpass.film= listing.name