extends _layout

block css
  link(rel='stylesheet', href='/css/home.min.css')

block js
  script(type='text/javascript', src='/js/home.js')

block content
  section.banner.home
    header.banner-image.home
    div.cover
    div
      h2 Feeling bored?
      h1 Explore now
      a.fa.fa-angle-down(href='javascript:void(0);')
    nav
      a.find(href='javascript:void(0);') Find
        span.fa.fa-search
      a.add(href='/listings/add') Add
        span.fa.fa-plus
      a.claim(href='javascript:void(0);') Claim
        span.fa.fa-hand-pointer
  include partials/listing_cards
  if authentication && authentication.user && authentication.user.permissions && authentication.user.permissions.viewStatistics
    section.statistics
      h1 Tag Statistics
        a#showstats(href='javascript:void(0);') Show
      each tag in tags
        div.statistic.hidden
          label= tag._id
          span= tag.count