extends _layout

block css
  link(rel='stylesheet', href='/css/home.min.css')

block content
  section.banner
  section.statistics
    h1 Tag Statistics
    each tag in tags
      div.statistic
        label= tag._id
        span= tag.count
  section.listings
    h1 Listings
    each listing in listings
      div.listing
        a(href='/listings/' + listing._id)
          span.icon.boredpass.film= listing.name