extends _layout

block css
  link(rel='stylesheet', href='/css/listing_claim_result.min.css')

block js
  script(type='text/javascript', src='/js/password_reset.js')

block content
  section.banner
    header.banner-image.home
    .cover
    div
      h2 BoredPass
      h1 Reset Password
  section.body
    div
      i.status-icon.fa(class=!resetResult.success ? "fa-exclamation-circle" : "fa-check-circle")
        svg(height="20", width="20", viewBox="0 0 20 20")
          circle.pie-fill(r="10", cx="10", cy="10")
          circle.pie-stroke(r="5", cx="10", cy="10")
          circle.pie-hole(r="9", cx="10", cy="10")
      p.status-message(data-resetResult=resetResult)=resetResult.message