mixin activities(data)
  if data && data.length
    section.listing-section.activities-overview&attributes(attributes)
      div
        h1 Activities Offered
        each activity, index in data
          - var className = activity.toLowerCase().replace(/ /g, '-')
          div.activity
            span(class=className)
            span=activity