mixin activities(data)
  if data && data.length
    section.listing-section.activities-overview&attributes(attributes)
      div
        h1 Activities Offered
        each activity, index in data
          - var className = activity.icon.toLowerCase().replace(/ /g, '-')
          div.activity
            span.activity.icon.colour(class=className)
            span=activity.name