mixin activities(data)
  section.listing-section.activities-overview&attributes(attributes)
    div
      h1 Activities Offered
      div.activity
        span.icon.mountain-biking
        span Mountain Biking
      div.activity
        span.icon.swimming
        span Swimming
      div.activity
        span.icon.kayaking
        span Kayaking
      div.activity
        span.icon.surfing
        span Surfing
      div.activity
        span.icon.sup
        span Standup Paddle Boarding