mixin activities(data, editable)
  if (data && data.length) || editable
    section.listing-section.activities-overview&attributes(attributes)
      div
        h1 Activities Offered
        if data && data.length && !editable
          each activity, index in data
            if activity && activity.icon
              - var className = activity.icon.toLowerCase().replace(/ /g, '-')
              div.activity
                span.activity.icon.boredpass(class=className)
                span=activity.name
        if editable
          div.tag-field
            div.field-wrapper
              - var tagValues = data && data.length ? data : []
              label(for='activity_tags', 'data-value'=tagValues) Search for activity tags (e.g. Kayaking)*
              input#activity_tags.activity-tags.mandatory(type='text', data-value=tagValues)
            div.tag-container