mixin facilities(data)
  if data && data.length
    section.listing-section.facilities&attributes(attributes)
      div
        h1 Our Facilities
        each facility, index in data
          - var className = facility.toLowerCase().replace(/ /g, '-')
          div.facility
            span(class='icon ' + className)
            span=facility