mixin listing_card_loading(listing)
  div.listing.loading.card&attributes(attributes)
    span.distance
      span Loading...
    a
      div.banner
        span.logo
      h3 Loading...
      p Loading...
      p Loading...
      p Loading...
      span.tags
        span
        span
        span