include photo_upload

mixin photos(data, edit)
  if (data && data.length) || edit
    section.listing-section.photos(class=edit && 'edit')&attributes(attributes)
      div
        if !edit
          a.prev.hidden.fa.fa-angle-left(href='prev-photo')
        div(data-current-scroll='0')
          each photo, index in data
            if edit
              +photoUpload(photo)(data-url='/content/upload')
            else
              div.photo
                a(class='photo' + index, style='background-image: url(/content/' + photo.fileType + '/' + photo.fileId + ');')
          if edit
            +photoUpload()(data-url='/content/upload')
        if !edit
          a.next.fa.fa-angle-right(href='next-photo')