mixin photos(data)
  if data && data.length
    section.listing-section.photos&attributes(attributes)
      a.prev.hidden.fa.fa-angle-left(href='prev-photo')
      div(data-current-scroll='0')
        each photo, index in data
          div.photo
            a(class='photo' + index, style='background-image: url(/content/' + photo.fileType + '/' + photo.fileId + ');')
      a.next.fa.fa-angle-right(href='next-photo')