extends layout

block css
  link(rel='stylesheet', href='/css/_default.min.css')

block content
  header(id="header")
    nav
  article(id="body")
    h1 Find activities and events in [LOCATION]
    ul(class="activities")
      each activity in activities.data
        li(class="activity")
          a(class="content" href="/activities/#{activity._id}")
            div(class="photos count3")
              span(class="photo")
              span(class="photo")
              span(class="photo")
            h3 #{activity.name}
            span #{activity.location}
            p #{activity.description}
  aside(id="context")
    div
  footer(id="footer")