doctype html
html
  head
    title= title
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0")
    block meta
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Raleway')
    link(rel='stylesheet', href='/css/shared.min.css')
    block css
    script(type='text/javascript', src='https://use.fontawesome.com/bd0f643562.js')
    block js
  body
    div(class="wrapper")
    block content