extends _template

include mx_paragraph
include mx_button

block content
  +paragraph('Hi there!')
  +paragraph(`You requested a reset of your password on BoredPass. Please follow the link below to reset your password:`)
  +button('Reset Password', props.resetLink)
  +paragraph('See you soon!')