/* CSS Reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
  line-height: 1;
  outline: none;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Shared Styling */
body {
  font-family: 'Raleway', sans-serif;
  color: #555555;
}
#header {
  background: linear-gradient(#ffffff, rgba(255, 255, 255, 0.65), rgba(255, 255, 255, 0));
  height: 460px;
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
}
#header > nav:first-of-type {
  border-top: solid 5px #25B9C5;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 2;
  transition: all 0.2s;
  overflow: hidden;
}
#header > nav:first-of-type.float {
  z-index: 100;
  box-shadow: 0 3px 3px rgba(50, 50, 50, 0.5);
  background-color: #444444;
}
#header > nav:first-of-type > div {
  margin-top: 27px;
  transition: all 0.25s;
}
#header > nav:first-of-type a:not(.logo) {
  display: inline-block;
  padding: 15px 10px 15px 36px;
  line-height: 20px;
  font-size: 16px;
  margin: 0;
  color: #25B9C5;
  text-transform: uppercase;
  font-weight: 600;
  position: relative;
  transition: all 0.2s;
  text-shadow: 0 3px 5px rgba(80, 80, 80, 0.3);
  text-decoration: none;
  letter-spacing: 1px;
  border-radius: 5px;
}
#header > nav:first-of-type a:not(.logo) .fa {
  font-size: 22px;
  position: absolute;
  left: 10px;
  top: 50%;
  height: 20px;
  margin-top: -12px;
}
#header > nav:first-of-type a:not(.logo):hover {
  background-color: rgba(0, 0, 0, 0.1);
}
#header > nav:first-of-type .logo {
  top: 3px;
  bottom: 5px;
  left: 5px;
  right: auto;
  height: auto;
  background-color: transparent;
  background-image: url(/images/boredpass-inverse.svg);
  transform: translateY(-200%);
  transition: all 0.5s;
}
#header > nav:first-of-type.float > div {
  margin-top: 0;
}
#header > nav:first-of-type.float .logo {
  transform: none;
}
#header > nav:first-of-type.float a {
  color: #FFF;
  padding: 8px 10px 8px 32px;
  text-shadow: none;
  font-weight: 100;
  border-radius: 0;
}
#header > nav:first-of-type.float a .fa {
  font-size: 18px;
  position: absolute;
  left: 10px;
  top: 50%;
  height: 20px;
  margin-top: -10px;
}
#header > nav:first-of-type.float a:not(.logo):hover {
  background-color: rgba(255, 255, 255, 0.1);
}
#header > nav:first-of-type.has-toolbar {
  transition: all 0.5s;
  margin-top: 36px;
}
#header > nav:last-of-type {
  z-index: 2;
  margin-top: 5px;
  height: 100px;
  position: absolute;
  left: 0;
  right: 50%;
}
#header > nav:last-of-type a:not(.logo) {
  display: block;
  padding: 15px 20px;
  margin: 35px 0;
  font-size: 16px;
  color: #555555;
  text-transform: uppercase;
}
#header > nav:last-of-type.has-toolbar {
  transition: all 0.5s;
  margin-top: 36px;
}
#header > nav > div {
  width: 1280px;
  margin: 0 auto;
  text-align: right;
  position: relative;
}
#header .logo {
  position: absolute;
  right: 440px;
  top: 10px;
  width: 200px;
  height: 80px;
  background-image: url(/images/boredpass.svg);
  background-size: contain;
  background-position: center left;
  background-repeat: no-repeat;
}
#body {
  border-top: solid 1px silver;
  border-bottom: solid 1px silver;
}
#footer {
  background-color: #444444;
  color: #e8e8e8;
}
#footer > div:first-of-type {
  width: 1280px;
  margin: 0 auto;
  overflow: auto;
  padding: 30px 0;
}
#footer > div:first-of-type > nav {
  width: 320px;
  display: block;
  float: left;
}
#footer > div:first-of-type > nav > h1 {
  padding: 0 0 0 50px;
  margin-top: 30px;
  min-height: 16px;
  text-transform: uppercase;
  font-weight: 600;
}
#footer > div:first-of-type > nav > div {
  border-left: solid 1px rgba(255, 255, 255, 0.2);
  padding: 0 40px;
  margin: 20px 0;
  min-height: 80px;
}
#footer > div:first-of-type > nav:first-of-type > div {
  border-color: transparent;
}
#footer > div:first-of-type > nav a {
  display: block;
  padding: 10px;
}
#footer > div:first-of-type > nav .social {
  padding-left: 10px;
}
#footer > div:first-of-type > nav .social > a {
  background-color: #e8e8e8;
  color: #444444;
  font-size: 20px;
  padding: 10px 0;
  text-align: center;
  height: 40px;
  width: 40px;
  border-radius: 20px;
  display: inline-block;
  margin: 10px 10px 0 0;
}
#footer .copyright {
  background-color: #25B9C5;
  text-align: center;
  padding: 20px;
}
.field-wrapper {
  display: block;
  position: relative;
  margin: 20px 0;
  box-shadow: 0 3px 5px rgba(80, 80, 80, 0.3);
  background-color: #FFFFFF;
  height: 60px;
  border-radius: 3px;
  border: solid 2px #FFFFFF;
  box-sizing: border-box;
  transition: all 0.25s;
  font-family: 'Raleway', sans-serif;
}
.field-wrapper.error {
  border-color: #FFAAAA;
}
.field-wrapper:hover {
  border-color: #25B9C5;
}
.field-wrapper.textarea {
  height: 300px;
}
.field-wrapper label {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  font-size: 16px;
  padding: 22px 10px 5px 10px;
  border-radius: 3px;
  color: #AAAAAA;
  transition: all 0.2s;
  font-weight: 600;
  background-color: rgba(255, 255, 255, 0.95);
}
.field-wrapper input,
.field-wrapper textarea {
  background-color: transparent;
  border: none;
  outline: none;
  border-radius: 0;
  font-size: 16px;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  box-sizing: border-box;
  padding: 30px 10px 12px 10px;
  border-radius: 3px;
  font-family: 'Raleway', sans-serif;
}
.field-wrapper.no-grow input {
  opacity: 0;
}
.field-wrapper.auto-height {
  height: auto;
}
.field-wrapper textarea {
  height: 300px;
  resize: none;
}
.field-wrapper.focus {
  border-color: #25B9C5;
}
.field-wrapper:hover label,
.field-wrapper.focus label {
  color: #25B9C5;
}
.field-wrapper.focus:not(.no-grow) label,
.field-wrapper.has-value:not(.no-grow) label,
.field-wrapper.no-shrink label {
  font-size: 11px;
  padding-top: 11px;
}
.field-wrapper .search-results {
  position: absolute;
  left: 0;
  right: 0;
  top: 56px;
  background-color: #FFFFFF;
  box-shadow: 0 3px 5px rgba(80, 80, 80, 0.3);
  z-index: 10;
  margin: 0 -2px;
  border-top: solid 2px #25B9C5;
  border-radius: 0 0 3px 3px;
}
.field-wrapper .search-results p {
  padding: 20px !important;
  margin: 0;
  line-height: 1 !important;
  opacity: 0.5;
}
.field-wrapper .search-results li {
  display: block;
}
.field-wrapper .search-results li a,
.field-wrapper .search-results li a:link,
.field-wrapper .search-results li a:visited {
  display: block;
  text-decoration: none;
  color: #555555;
  padding: 20px;
  transition: all 0.2s;
}
.field-wrapper .search-results li a.active,
.field-wrapper .search-results li a:link.active,
.field-wrapper .search-results li a:visited.active {
  background-color: rgba(0, 0, 0, 0.1);
}
.field-wrapper .search-results li a:not(.active):hover,
.field-wrapper .search-results li a:link:not(.active):hover,
.field-wrapper .search-results li a:visited:not(.active):hover {
  background-color: rgba(0, 0, 0, 0.05);
}
.field-wrapper .search-results.out {
  opacity: 0;
}
.field-wrapper.has-hint {
  margin-bottom: 5px;
}
.field-wrapper.has-hint + .hint {
  font-size: 12px;
}
button {
  outline: none;
  border: none;
  font-size: 16px;
  padding: 16px;
  box-sizing: border-box;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s;
}
button:active {
  transform: scale(0.95);
}
.toggle-wrapper {
  display: block;
  position: relative;
  margin: 20px 0;
  height: 50px;
  overflow: hidden;
  box-sizing: border-box;
}
.toggle-wrapper label {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 16px;
  padding: 19px 10px 19px 0;
  transition: all 0.2s;
}
.toggle-wrapper .options {
  float: right;
  overflow: hidden;
  text-align: right;
  box-sizing: border-box;
}
.toggle-wrapper .options button {
  background-color: #FFFFFF;
  color: #25B9C5;
  display: block;
  float: left;
  min-width: 100px;
}
.toggle-wrapper .options button.active {
  background-color: #25B9C5;
  color: #FFFFFF;
  cursor: default;
}
.toggle-wrapper .options button.active:active {
  transform: none;
}
.checkbox-wrapper {
  display: block;
  position: relative;
  margin: 20px 0;
  overflow: hidden;
  box-sizing: border-box;
}
.checkbox-option {
  display: inline-block;
  position: relative;
  transition: all 0.25s;
}
.checkbox-option:hover {
  color: #25B9C5;
}
.checkbox-option:hover .faux-input {
  border-color: #25B9C5;
}
.checkbox-option input {
  display: none;
}
.checkbox-option .faux-input {
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  height: 30px;
  width: 30px;
  margin: -15px 0 0 0;
  background-color: #FFFFFF;
  box-shadow: 0 3px 5px rgba(80, 80, 80, 0.3);
  border-radius: 3px;
  border: solid 2px #FFFFFF;
  transition: all 0.25s;
  cursor: pointer;
  color: #FFFFFF;
  padding: 4px 0;
  text-align: center;
}
.checkbox-option .faux-input:focus {
  border-color: #25B9C5;
}
.checkbox-option .faux-input:focus + label {
  color: #25B9C5;
}
.checkbox-option.checked .faux-input {
  background-color: #25B9C5;
  border-color: #25B9C5;
  box-shadow: none;
  text-decoration: none;
}
.checkbox-option.checked .faux-input:focus {
  border-color: #FFFFFF;
}
.checkbox-option label {
  display: inline-block;
  font-size: 14px;
  padding: 13px;
  margin: 0 10px 0 30px;
  cursor: pointer;
}
.hidden {
  display: none;
}
.button {
  outline: none;
  border: none;
  background-color: #25B9C5;
  color: #FFFFFF;
  font-size: 16px;
  padding: 16px;
  box-sizing: border-box;
  display: block;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s;
}
strong {
  font-weight: 600;
}
h2 {
  padding: 10px;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
}
h2.center {
  text-align: center;
}
hr {
  margin: 20px 0 20px 10px;
  border: none;
  height: 1px;
  background-color: #DDDDDD;
}
.large-top-margin {
  margin-top: 40px;
}
.photo-upload form {
  display: none;
}
.icon.activity.abseiling.colour {
  background-image: url("/content/svg/activities/abseiling?colour=25B9C5");
}
.icon.activity.abseiling.white {
  background-image: url("/content/svg/activities/abseiling?colour=FFFFFF");
}
.icon.activity.bodyboarding.colour {
  background-image: url("/content/svg/activities/bodyboarding?colour=25B9C5");
}
.icon.activity.bodyboarding.white {
  background-image: url("/content/svg/activities/bodyboarding?colour=FFFFFF");
}
.icon.activity.bus-tours.colour {
  background-image: url("/content/svg/activities/bus-tours?colour=25B9C5");
}
.icon.activity.bus-tours.white {
  background-image: url("/content/svg/activities/bus-tours?colour=FFFFFF");
}
.icon.activity.golf.colour {
  background-image: url("/content/svg/activities/golf?colour=25B9C5");
}
.icon.activity.golf.white {
  background-image: url("/content/svg/activities/golf?colour=FFFFFF");
}
.icon.activity.hiking.colour {
  background-image: url("/content/svg/activities/hiking?colour=25B9C5");
}
.icon.activity.hiking.white {
  background-image: url("/content/svg/activities/hiking?colour=FFFFFF");
}
.icon.activity.karting.colour {
  background-image: url("/content/svg/activities/karting?colour=25B9C5");
}
.icon.activity.karting.white {
  background-image: url("/content/svg/activities/karting?colour=FFFFFF");
}
.icon.activity.kayaking.colour {
  background-image: url("/content/svg/activities/kayaking?colour=25B9C5");
}
.icon.activity.kayaking.white {
  background-image: url("/content/svg/activities/kayaking?colour=FFFFFF");
}
.icon.activity.kite-boarding.colour {
  background-image: url("/content/svg/activities/kite-boarding?colour=25B9C5");
}
.icon.activity.kite-boarding.white {
  background-image: url("/content/svg/activities/kite-boarding?colour=FFFFFF");
}
.icon.activity.mountain-biking.colour {
  background-image: url("/content/svg/activities/mountain-biking?colour=25B9C5");
}
.icon.activity.mountain-biking.white {
  background-image: url("/content/svg/activities/mountain-biking?colour=FFFFFF");
}
.icon.activity.movies.colour {
  background-image: url("/content/svg/activities/movies?colour=25B9C5");
}
.icon.activity.movies.white {
  background-image: url("/content/svg/activities/movies?colour=FFFFFF");
}
.icon.activity.museum.colour {
  background-image: url("/content/svg/activities/museum?colour=25B9C5");
}
.icon.activity.museum.white {
  background-image: url("/content/svg/activities/museum?colour=FFFFFF");
}
.icon.activity.paintball.colour {
  background-image: url("/content/svg/activities/paintball?colour=25B9C5");
}
.icon.activity.paintball.white {
  background-image: url("/content/svg/activities/paintball?colour=FFFFFF");
}
.icon.activity.put-put.colour {
  background-image: url("/content/svg/activities/put-put?colour=25B9C5");
}
.icon.activity.put-put.white {
  background-image: url("/content/svg/activities/put-put?colour=FFFFFF");
}
.icon.activity.road-cycling.colour {
  background-image: url("/content/svg/activities/road-cycling?colour=25B9C5");
}
.icon.activity.road-cycling.white {
  background-image: url("/content/svg/activities/road-cycling?colour=FFFFFF");
}
.icon.activity.sup.colour {
  background-image: url("/content/svg/activities/sup?colour=25B9C5");
}
.icon.activity.sup.white {
  background-image: url("/content/svg/activities/sup?colour=FFFFFF");
}
.icon.activity.surfing.colour {
  background-image: url("/content/svg/activities/surfing?colour=25B9C5");
}
.icon.activity.surfing.white {
  background-image: url("/content/svg/activities/surfing?colour=FFFFFF");
}
.icon.activity.swimming.colour {
  background-image: url("/content/svg/activities/swimming?colour=25B9C5");
}
.icon.activity.swimming.white {
  background-image: url("/content/svg/activities/swimming?colour=FFFFFF");
}
.icon.activity.tennis.colour {
  background-image: url("/content/svg/activities/tennis?colour=25B9C5");
}
.icon.activity.tennis.white {
  background-image: url("/content/svg/activities/tennis?colour=FFFFFF");
}
.icon.facility.child-friendly.colour {
  background-image: url("/content/svg/facilities/child-friendly?colour=25B9C5");
}
.icon.facility.child-friendly.white {
  background-image: url("/content/svg/facilities/child-friendly?colour=FFFFFF");
}
.icon.facility.disabled.colour {
  background-image: url("/content/svg/facilities/disabled?colour=25B9C5");
}
.icon.facility.disabled.white {
  background-image: url("/content/svg/facilities/disabled?colour=FFFFFF");
}
.icon.facility.dog-friendly.colour {
  background-image: url("/content/svg/facilities/dog-friendly?colour=25B9C5");
}
.icon.facility.dog-friendly.white {
  background-image: url("/content/svg/facilities/dog-friendly?colour=FFFFFF");
}
.icon.facility.picnic.colour {
  background-image: url("/content/svg/facilities/picnic?colour=25B9C5");
}
.icon.facility.picnic.white {
  background-image: url("/content/svg/facilities/picnic?colour=FFFFFF");
}
em {
  font-style: italic;
  font-weight: 600;
}
.confirm-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 101;
  background-color: rgba(0, 0, 0, 0.75);
  transition: all 0.2s;
  opacity: 1;
}
.confirm-overlay.out {
  opacity: 0;
}
.confirm-box {
  position: fixed;
  top: 0;
  left: 50%;
  width: 400px;
  margin: 0 0 0 -200px;
  box-shadow: 0 3px 5px rgba(80, 80, 80, 0.3);
  border-radius: 0 0 5px 5px;
  background-color: #FFFFFF;
  z-index: 102;
  transition: all 0.2s;
  transform: none;
  opacity: 1;
}
.confirm-box.out {
  transform: translateY(-100%);
  opacity: 0;
}
.confirm-box > p {
  padding: 20px;
  color: #25B9C5;
}
.confirm-box > .buttons {
  padding: 20px;
  text-align: right;
}
.confirm-box > .buttons > button {
  padding: 10px 30px;
  border-radius: 30px;
  text-decoration: none;
  color: #25B9C5;
  margin-left: 10px;
}
.confirm-box > .buttons > .positive {
  color: #FFFFFF;
  background-color: #25B9C5;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 101;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  transition: opacity 0.2s;
}
.overlay-content {
  opacity: 0;
  transition: transform 0.2s, opacity 0.2s;
  transform: translateY(200px);
  position: fixed;
  z-index: 102;
  width: 800px;
  top: 40px;
  bottom: 40px;
  left: 50%;
  margin: 0 0 0 -400px;
  background-color: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  border-radius: 3px;
}
.overlay.show,
.overlay-content.show {
  opacity: 1;
  transform: none;
}
.toolbar {
  background-color: #222;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  height: 0;
  overflow: hidden;
  transition: all 0.5s;
}
.toolbar > div {
  max-width: 1280px;
  margin: 0 auto;
  text-align: right;
  padding-right: 4px;
}
.toolbar > div > a {
  display: inline-block;
  padding: 7px;
  color: #FFF;
  background-color: rgba(255, 255, 255, 0.3);
  margin: 4px 0 4px 4px;
  border-radius: 5px;
  padding-left: 25px;
  text-decoration: none;
  box-shadow: 0 3px 5px rgba(80, 80, 80, 0.3);
  text-transform: uppercase;
  font-weight: 600;
  position: relative;
  font-size: 14px;
}
.toolbar > div > a .fa,
.toolbar > div > a .fas {
  position: absolute;
  left: 7px;
  top: 50%;
  margin-top: -9px;
  font-size: 15px;
}
.toolbar.show {
  height: 36px;
}
@keyframes banner-scale {
  0% {
    background-size: 120%;
  }
  100% {
    background-size: 100%;
  }
}
@media only screen and (max-width: 1300px) {
  #header .logo {
    right: auto;
    left: 10px;
  }
  #header > nav > div {
    width: auto;
    margin: 0 20px;
  }
  #footer > div:first-of-type {
    width: auto;
    margin: 0;
    padding: 20px 0;
  }
  #footer > div:first-of-type > nav {
    width: 25%;
  }
  #footer > div:first-of-type > nav > div {
    padding: 0 10px;
  }
  #footer > div:first-of-type > nav > h1 {
    padding-left: 20px;
  }
}
@media only screen and (max-width: 768px) {
  #header .logo {
    width: 120px;
    height: 40px;
    margin-top: -6px;
  }
  #header > nav:first-child .logo {
    top: 8px;
  }
  #header > nav:first-child > div {
    margin: 0;
  }
  #header > nav:last-of-type a:not(.logo) {
    margin: 15px 0;
    padding: 15px;
  }
  #footer > div:first-of-type {
    padding: 0;
    text-align: center;
  }
  #footer > div:first-of-type > nav {
    width: 100%;
  }
  #footer > div:first-of-type > nav > h1 {
    padding-left: 0;
  }
  #footer > div:first-of-type > nav > h1.no-content {
    display: none;
  }
  #footer > div:first-of-type > nav div {
    margin: 10px 0 0 0;
    border-left: none;
    border-bottom: solid 1px rgba(255, 255, 255, 0.2) !important;
  }
  #footer > div:first-of-type > nav .social {
    margin-bottom: 10px;
  }
}
@media only screen and (max-width: 600px) {
  #header > nav:first-of-type a {
    font-size: 12px;
    padding: 10px 15px;
  }
  #header > nav:last-of-type {
    display: none;
  }
}