.listing.card {
  display: flex;
  flex-direction: column;
}
.listing.card .distance {
  display: block;
  width: 100px;
  align-content: center;
  white-space: nowrap;
}
.listing.card .distance > * {
  background-color: #444444;
  color: #FFF;
  display: inline-block;
  padding: 10px;
  font-size: 14px;
  text-transform: uppercase;
}
.listing.card .distance > label {
  font-weight: 600;
  padding-right: 0;
  padding-left: 32px;
  position: relative;
}
.listing.card .distance .compass {
  position: absolute;
  left: 6px;
  top: 6px;
  height: 20px;
  width: 20px;
  display: inline-block;
  animation: compass 2s infinite;
}
.listing.card .distance .compass .rose {
  display: block;
  height: 100%;
  width: 100%;
  background-image: url(/images/icons/arrow.svg);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}
.listing.card .button {
  text-transform: uppercase;
  padding: 10px 30px;
  color: #f5f5f5;
  border: solid 1px #f5f5f5;
  border-radius: 30px;
  background-color: transparent;
  font-size: 14px;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.2s;
  outline: none;
  position: absolute;
  bottom: 5px;
  right: 5px;
}
.listing.card > a {
  flex: 1;
  position: relative;
  transition: all 0.25s;
  text-decoration: none;
}
.listing.card > a > .banner {
  width: 100%;
  height: 200px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  background-color: #DDDDDD;
}
.listing.card > a > .banner .logo {
  height: 100px;
  width: 100px;
  position: absolute;
  left: 50%;
  bottom: 0;
  margin: 0 0 -50px -50px;
  border: solid 5px #FFF;
  background-color: #FFF;
  display: block;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  box-shadow: 0 3px 5px rgba(80, 80, 80, 0.3);
}
.listing.card > a .tags {
  display: block;
  width: 100%;
  padding: 0 5px;
  text-transform: uppercase;
  color: #25B9C5;
  font-weight: 600;
  line-height: 1.5;
  font-size: 12px;
  text-align: left;
}
.listing.card > a > h3 {
  background-color: #25B9C5;
  color: #FFF;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 1.5;
  padding: 5px;
  padding-top: 60px;
  font-weight: 600;
  text-align: center;
}
.listing.card > a p,
.listing.card > a ul,
.listing.card > a ol {
  color: #444444;
  font-size: 14px;
  line-height: 1.5;
  padding: 5px;
}
.listing.card > a ul,
.listing.card > a ol {
  margin-left: 20px;
}
.listing.card > a ul li {
  list-style: disc;
}
.listing.card > a ol li {
  list-style: decimal;
}
.listing.card:not(.loading):hover > a {
  cursor: pointer;
  box-shadow: 0 3px 5px rgba(80, 80, 80, 0.3);
  transform: translateY(-2px);
}
.listing.card.loading {
  cursor: default;
  animation: card-loading 1s infinite;
}
.listing.card.loading .distance > * {
  background-color: rgba(0, 0, 0, 0.3);
  color: transparent;
}
.listing.card.loading > a > .banner {
  background-color: rgba(0, 0, 0, 0.1);
}
.listing.card.loading > a > h3 {
  background-color: rgba(0, 0, 0, 0.3);
  color: transparent;
}
.listing.card.loading p {
  color: transparent;
  margin: 5px;
  height: 15px;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.2);
}
.listing.card.loading p:first-of-type {
  margin-top: 15px;
}
.listing.card.loading p:last-of-type {
  margin-right: 25%;
}
.listing.card.loading .tags {
  margin: 20px 5px 0 0;
  color: transparent;
}
.listing.card.loading .tags span {
  display: inline-block;
  height: 15px;
  width: 50px;
  margin-right: 10px;
  background-color: rgba(0, 0, 0, 0.2);
}
section.listings,
section.statistics {
  max-width: 1280px;
  margin: 20px auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
}
section.listings > .listing,
section.statistics > .listing {
  flex: 0 0 33.3%;
  padding: 10px;
}
section.listings > h1 > a,
section.statistics > h1 > a {
  display: inline-block;
  margin-left: 10px;
  color: #444444;
}
section.listings .buttons,
section.statistics .buttons {
  text-align: right;
  width: 100%;
  margin-top: 20px;
}
section.listings .button,
section.statistics .button {
  text-transform: uppercase;
  padding: 10px 30px;
  color: #25B9C5;
  border: solid 1px #25B9C5;
  border-radius: 30px;
  background-color: transparent;
  font-size: 16px;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  transition: all 0.2s;
  width: 100%;
  text-align: center;
}
section.listings .button.grey,
section.statistics .button.grey {
  color: #444444;
  border-color: #444444;
}
section.listings .button:hover,
section.statistics .button:hover {
  box-shadow: 0 3px 5px rgba(80, 80, 80, 0.3);
  transform: translateY(-2px);
}
section.listings .paging,
section.statistics .paging {
  width: 100%;
  flex: none;
  text-align: right;
  padding: 40px 10px;
}
section.listings .paging a,
section.statistics .paging a {
  display: inline-block;
  font-weight: 600;
  width: auto;
  position: relative;
}
section.listings .paging a i,
section.statistics .paging a i {
  position: absolute;
  top: 50%;
  font-size: 20px;
  margin-top: -10px;
  line-height: 20px;
}
section.listings .paging a.prev,
section.statistics .paging a.prev {
  padding-left: 45px;
}
section.listings .paging a.prev i,
section.statistics .paging a.prev i {
  left: 20px;
}
section.listings .paging a.next,
section.statistics .paging a.next {
  padding-right: 45px;
  margin-left: 20px;
}
section.listings .paging a.next i,
section.statistics .paging a.next i {
  right: 20px;
}
.adrenalin-and-extreme-sports {
  background-image: url(/images/banners/rocks_2x.jpg);
}
.nature-and-adventure {
  background-image: url(/images/banners/forest_2x.jpg);
}
.cultural {
  background-image: url(/images/banners/vineyard_2x.jpg);
}
.fun-and-games {
  background-image: url(/images/banners/picnic_2x.jpg);
}
.sightseeing {
  background-image: url(/images/banners/city_2x.jpg);
}
.listing.template {
  display: none;
}
.no-more-data {
  padding: 40px 10px;
}
.no-more-data h1 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 600;
  margin-bottom: 20px;
}
.no-more-data .recommendations {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.no-more-data .recommendations a {
  flex: 1;
  align-content: flex-end;
  padding: 10px;
  background-color: #DDDDDD;
  color: #FFF;
  text-transform: uppercase;
  position: relative;
  height: 100px;
  margin: 5px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.no-more-data .recommendations a span {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  line-height: 20px;
  font-size: 16px;
}
.no-more-data .recommendations.wide a {
  min-width: 45%;
}
@media all and (max-width: 1300px) {
  section.banner div:not(.cover) {
    position: absolute;
    bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 120px;
  }
}
@media all and (max-width: 960px) {
  section.listings > .listing {
    flex: 0 0 50%;
  }
  section.banner div:not(.cover) {
    padding-top: 132px;
  }
  section.banner div:not(.cover) h1,
  section.banner div:not(.cover) h2 {
    font-size: 24px;
  }
  .no-more-data .recommendations a {
    min-width: 45%;
  }
}
@media all and (max-width: 768px) {
  section.banner {
    height: 180px;
  }
  section.banner div:not(.cover) {
    padding-top: 59px;
  }
  section.banner div:not(.cover) h1,
  section.banner div:not(.cover) h2 {
    font-size: 20px;
  }
  section.listings .paging {
    padding: 20px 10px;
  }
  #header {
    height: 180px;
  }
}
@media all and (max-width: 600px) {
  section.listings > .listing {
    flex: 0 0 100%;
  }
  .no-more-data .recommendations a,
  .no-more-data .recommendations.wide a {
    min-width: 100%;
  }
}