.photo-upload {
  cursor: pointer;
}
.photo-upload > a {
  transition: all 0.25s;
  border: solid 2px #FFFFFF;
  box-shadow: 0 3px 5px rgba(80, 80, 80, 0.3);
  position: relative;
}
.photo-upload > a:hover {
  border-color: #25B9C5;
}
.photo-upload > a.has-image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.photo-upload form {
  display: none !important;
}
.tag-search {
  position: relative;
  margin: 56px -2px 0 -2px;
  z-index: 2;
  background-color: #FFFFFF;
  border: solid 2px #25B9C5;
  border-top: none;
  border-radius: 0 0 3px 3px;
  text-align: left;
  padding: 5px;
  white-space: normal;
}
.tag-search > a,
.tag-container > span {
  position: relative !important;
  display: inline-block !important;
  padding: 15px 30px 15px 55px !important;
  border-radius: 30px !important;
  color: #25B9C5 !important;
  border: solid 1px #25B9C5 !important;
  margin: 5px !important;
  text-decoration: none !important;
  background-position: left center !important;
  background-size: contain !important;
  background-repeat: no-repeat !important;
  float: none !important;
  width: auto !important;
  flex: none !important;
}
.tag-search > a.selected {
  background-color: #25B9C5;
  color: #FFFFFF !important;
}
.tag-search .close {
  position: absolute;
  top: -44px;
  right: 10px;
  height: 32px;
  width: 32px;
  border-radius: 17px;
  transform: rotate(45deg);
  background-color: #25B9C5;
  color: #FFFFFF;
  font-size: 20px;
  padding: 5px 0;
  text-align: center;
}
.tag-search:not(.hidden) + .tag-container {
  display: none;
}
.tag-container {
  margin-top: 61px;
  padding: 0 5px;
  cursor: pointer;
}
.tag-container > span:first-of-type {
  margin-top: 10px;
}
.tag-container > span:last-of-type {
  margin-bottom: 10px !important;
}
@keyframes active-pulse {
  0% {
    border-color: #FFF;
  }
  50% {
    border-color: #25B9C5;
  }
  100% {
    border-color: #FFF;
  }
}
@keyframes active-pulse-grey {
  0% {
    border-color: #f5f5f5;
  }
  50% {
    border-color: #25B9C5;
  }
  100% {
    border-color: #f5f5f5;
  }
}