.listing-section.photos.edit > div {
  max-width: 1024px;
}
.listing-section.photos.edit > div > div {
  width: 100%;
  margin: 0;
  overflow: visible;
  white-space: normal;
  display: flex;
}
.listing-section.photos.edit > div > div > div {
  padding: 10px;
  flex: 0 0 50%;
}
.listing-section.photos.edit > div > div > div > a {
  display: block;
  height: 280px;
  background-color: #FFFFFF;
  position: relative;
}
.listing-section span.plus {
  background-color: #25B9C5;
  color: #FFFFFF;
  height: 50px;
  width: 50px;
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 50px;
  padding: 0;
  text-align: center;
}
.listing-section .photo-upload.logo > a {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}