.add-listing-modal {
  width: 960px;
  height: 720px;
  top: 50%;
  left: 50%;
  bottom: auto;
  right: auto;
  margin: -360px 0 0 -480px;
  padding: 50px;
  background-color: #f5f5f5;
}
.add-listing-modal .wizard-steps {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: #25B9C5;
  overflow: visible;
  height: 80px;
  z-index: 100;
}
.add-listing-modal .wizard-steps h1 {
  color: #FFFFFF;
  font-weight: 200;
  font-size: 20px;
  padding: 20px;
  text-transform: uppercase;
}
.add-listing-modal .wizard-steps a {
  font-size: 16px;
  line-height: 36px;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  box-shadow: 0 3px 5px rgba(80, 80, 80, 0.3);
  background-color: #FFFFFF;
  color: #25B9C5;
  border: solid 2px #25B9C5;
  position: absolute;
  top: 60px;
  margin-left: -20px;
  text-align: center;
  transition: all 0.5s;
}
.add-listing-modal .wizard-steps a:first-of-type {
  left: 25%;
}
.add-listing-modal .wizard-steps a:nth-child(2) {
  left: 50%;
}
.add-listing-modal .wizard-steps a:last-of-type {
  left: 75%;
}
.add-listing-modal .wizard-steps a:last-of-type:first-of-type {
  left: 50%;
}
.add-listing-modal .wizard-steps a.active {
  color: #FFFFFF;
  background-color: #25B9C5;
  border-color: #FFFFFF;
}
.add-listing-modal .wizard-content {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 80px;
  padding: 40px 40px 0 40px;
  overflow: auto;
}
.add-listing-modal .wizard-content form {
  display: none;
  margin-bottom: 40px;
}
.add-listing-modal .wizard-content form.active {
  display: block;
}
.add-listing-modal .wizard-content form .instructions-template {
  margin: 30px 0 50px 0;
}
.add-listing-modal .wizard-content form .instructions-template p {
  line-height: 1.5;
}
.add-listing-modal .wizard-content form .button-wrapper {
  display: flex;
  flex-direction: row;
}
.add-listing-modal .wizard-content form .button-wrapper button.button {
  border-radius: 0;
  flex: 1;
  text-shadow: 0 3px 5px rgba(80, 80, 80, 0.3);
  background-color: #25B9C5;
  color: #FFFFFF;
}
.add-listing-modal .wizard-content form .button-wrapper button.prev {
  border: solid 3px #25B9C5;
  background-color: transparent;
  color: #25B9C5;
}
.add-listing-modal .wizard-content form .social .links {
  text-align: center;
}
.add-listing-modal .wizard-content form .social .links > a {
  display: inline-block;
  width: 42px;
  height: 42px;
  background-color: #DDDDDD;
  border-radius: 24px;
  margin-right: 12px;
  color: #f5f5f5;
  font-size: 17px;
  padding: 10px 0;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: solid 3px #f5f5f5;
  transition: all 0.2s;
}
.add-listing-modal .wizard-content form .social .links > a.has-value {
  background-color: #25B9C5;
}
.add-listing-modal .wizard-content form .social .links > a.active {
  animation: active-pulse-grey 2s infinite;
}
.add-listing-modal .wizard-content form .social .links > a:last-of-type {
  margin-right: 0;
}
.add-listing-modal .wizard-content form .social input {
  display: block;
  width: 100%;
  max-width: 400px;
  margin: 10px auto 0 auto;
  padding: 10px 20px;
  border: none;
  background-color: #FFFFFF;
  font-size: 16px;
  border-radius: 40px;
  box-shadow: 0 3px 5px rgba(80, 80, 80, 0.3);
  outline: none;
}
.add-listing-modal .wizard-content form .social input.hidden {
  display: none;
}
.add-listing-modal .wizard-content form .add-overview {
  display: flex;
  flex-direction: row;
}
.add-listing-modal .wizard-content form .add-overview .add-logo {
  background-color: #25B9C5;
  height: 200px;
  width: 200px;
  margin: 0 0 0 20px;
  display: block;
  flex: 0 0 200px;
  position: relative;
}
.add-listing-modal .wizard-content form .add-overview .add-logo > a {
  display: block;
  height: 100%;
  width: 100%;
  border: none;
  background-size: contain;
}
.add-listing-modal .wizard-content form .add-overview .add-logo > span {
  background-color: rgba(255, 255, 255, 0.2);
}
.add-listing-modal .wizard-content form .add-photos {
  padding: 0;
  margin: 10px -10px 0 -10px;
  display: flex;
  flex-wrap: wrap;
}
.add-listing-modal .wizard-content form .add-photos > div {
  padding: 10px;
  flex: 0 0 50%;
}
.add-listing-modal .wizard-content form .add-photos > div > a {
  display: block;
  height: 280px;
  background-color: #FFFFFF;
  position: relative;
}
.add-listing-modal .wizard-content form .add-photos > div > a > span {
  background-color: #25B9C5;
}
.add-listing-modal .wizard-content form span.plus,
.add-listing-modal .wizard-content form span.close {
  background-color: #25B9C5;
  color: #FFFFFF;
  height: 50px;
  width: 50px;
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 50px;
  padding: 0;
  text-align: center;
}
.add-listing-modal .wizard-content form span.close {
  top: 5px;
  right: 5px;
  left: auto;
  bottom: auto;
  border-radius: 25px;
  opacity: 0.5;
  transform: rotate(45deg);
  transition: all 0.25s;
}
.add-listing-modal .wizard-content form p {
  padding: 20px 10px 20px 0;
  white-space: normal;
  line-height: 1.25;
}
.add-listing-modal .wizard-content form h2 {
  padding-left: 0;
}
.add-listing-modal .wizard-content form hr {
  margin-left: 0;
}
.add-listing-modal .wizard-content form .listing.card {
  max-width: 400px;
  margin: 0 auto;
}
.add-listing-modal .wizard-content form .edit-banner {
  margin-top: 20px;
  display: block;
  width: 100%;
  height: 150px;
  box-shadow: 0 3px 5px rgba(80, 80, 80, 0.3);
  border: solid 2px #FFF;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  cursor: pointer;
  background-color: #FFF;
  transition: all 0.2s;
}
.add-listing-modal .wizard-content form .edit-banner:hover {
  border-color: #25B9C5;
}
.add-listing-modal .wizard-content form .duplicates {
  border-bottom: solid 1px #DDDDDD;
  padding-bottom: 20px;
  margin-bottom: 20px;
  opacity: 0;
  animation: duplicates 1s forwards;
}
.add-listing-modal .wizard-content form .duplicates p {
  padding-top: 0;
}
.add-listing-modal .wizard-content form .duplicates a {
  background-color: #FFFFFF;
  box-shadow: 0 3px 5px rgba(80, 80, 80, 0.3);
  padding: 10px;
  color: #555555;
  text-decoration: none;
  display: block;
  position: relative;
  border-bottom: solid 1px #DDDDDD;
  transition: all 0.2s;
}
.add-listing-modal .wizard-content form .duplicates a:first-of-type {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.add-listing-modal .wizard-content form .duplicates a:last-of-type {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom: none;
}
.add-listing-modal .wizard-content form .duplicates a:hover {
  color: #25B9C5;
}
.add-listing-modal .wizard-content form .duplicates a span {
  display: block;
  font-size: 12px;
  padding-top: 5px;
}
.add-listing-modal .wizard-content form .duplicates a i {
  position: absolute;
  right: 10px;
  top: 50%;
  font-size: 20px;
  line-height: 20px;
  margin-top: -10px;
  color: #25B9C5;
}
.add-listing-modal.no-no {
  animation: no-no 0.5s forwards;
}
.add-listing-modal .close {
  position: absolute;
  top: 20px;
  right: 20px;
  color: #fff;
  text-decoration: none;
  font-size: 24px;
  z-index: 101;
}
@media all and (max-width: 970px) {
  .add-listing-modal {
    width: auto;
    left: 5px;
    right: 5px;
    margin-left: 0;
    padding: 30px;
  }
}
@media all and (max-width: 700px) {
  .add-listing-modal .wizard-content {
    padding: 20px 10px 0 10px;
  }
  .add-listing-modal .wizard-content form {
    margin-bottom: 10px;
  }
}
@media all and (max-width: 400px) {
  .add-listing-modal {
    padding: 10px;
  }
  .add-listing-modal .close {
    top: 10px;
    right: 10px;
  }
}
@media all and (max-height: 730px) {
  .add-listing-modal {
    height: auto;
    overflow: auto;
    top: 5px;
    bottom: 5px;
    margin-top: 0;
  }
}