/* CSS Reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
  line-height: 1;
  outline: none;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Standard styling */
body {
  font-family: 'Raleway', sans-serif;
  background-color: #e8e8e8;
  color: #555555;
}
.wrapper {
  transition: transform 0.2s;
  transform-origin: top center;
}
.mask {
  filter: blur(5px);
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  transform: scale(0.95);
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  transition: opacity 0.2s;
}
.overlay-content {
  opacity: 0;
  transition: transform 0.2s,opacity 0.2s;
  transform: translateY(200px);
  position: fixed;
  z-index: 2;
  height: 700px;
  width: 600px;
  top: 50%;
  left: 50%;
  margin: -350px 0 0 -300px;
  background-color: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  border-radius: 3px;
}
.overlay.show,
.overlay-content.show {
  opacity: 1;
  transform: none;
}
#header {
  margin: 0 auto;
  padding: 20px 10px 0 10px;
  width: 1280px;
}
#header > div:first-child {
  height: 500px;
  background-color: #25B9C5;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
  position: relative;
  background-image: url(../images/bg-mountains.jpg);
  background-size: cover;
  background-position: center center;
  border-radius: 3px;
}
#header > div > nav {
  text-align: right;
  padding: 10px;
  box-sizing: border-box;
}
#header > div > nav > a,
#header > div > nav > a:link,
#header > div > nav > a:visited {
  text-decoration: none;
  color: #FFF;
  font-weight: 200;
  font-size: 14px;
  display: inline-block;
  padding: 8px;
}
#header #logo {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -170px;
  margin-left: -100px;
  display: block;
  background-image: url(../images/boredpass.svg);
  width: 200px;
  height: 80px;
  box-sizing: border-box;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}
#header > div > .search-wrapper {
  left: 85px;
  right: 85px;
  height: 42px;
  position: absolute;
  bottom: 75px;
  margin-top: -21px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  border: solid 2px rgba(255, 255, 255, 0.8);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
}
#header > div > .search-wrapper > div {
  width: 50%;
  box-sizing: border-box;
  position: absolute;
}
#header > div > .search-wrapper > div:last-of-type {
  left: 50%;
  border-left: solid 2px rgba(255, 255, 255, 0.5);
}
#header > div > .search-wrapper > div > input {
  width: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 16px;
  padding: 10px;
  transition: all 0.2s;
  display: block;
  box-sizing: border-box;
  border-radius: 0;
  height: 38px;
}
#search-button {
  position: absolute;
  right: 0;
  top: 0;
  margin-right: -50px;
}
.round-button {
  text-align: center;
  display: block;
  height: 38px;
  width: 38px;
  background-color: rgba(255, 255, 255, 0.7);
  border: none;
  outline: none;
  transition: background-color 0.2s, box-shadow 0.2s, transform 0.2s;
  cursor: pointer;
  border-radius: 25px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
}
.round-button > span {
  font-size: 19px;
  height: 20px;
  width: 20px;
  position: absolute;
  left: 50%;
  right: 50%;
  margin-left: -10px;
  margin-top: -10px;
}
#search-button > span.search-text {
  display: none;
}
.round-button:hover,
.round-button:focus {
  background-color: rgba(255, 255, 255, 0.9);
}
.round-button:active {
  transform: scale(0.93);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
}
#header > div > .search-wrapper input:hover {
  background-color: rgba(255, 255, 255, 0.5);
}
#header > div > .search-wrapper input:focus {
  background-color: rgba(255, 255, 255, 0.8);
}
#body {
  width: 1280px;
  margin: 0 auto;
}
::-webkit-input-placeholder {
  color: #F2F2F2;
}
input:focus::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.5);
}
::-moz-placeholder {
  color: #F2F2F2;
}
input:focus::-moz-placeholder {
  color: rgba(0, 0, 0, 0.5);
}
:-ms-input-placeholder {
  color: #F2F2F2;
}
input:focus:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.5);
}
:-moz-placeholder {
  color: #F2F2F2;
}
input:focus:-moz-placeholder {
  color: rgba(0, 0, 0, 0.5);
}
#header #add-activity {
  color: #FFFFFF;
  position: absolute;
  bottom: 20px;
  text-align: center;
  width: 100%;
}
#header #add-activity * {
  line-height: 2;
  font-weight: 800;
}
#header #add-activity span {
  text-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
}
#header #add-activity a {
  display: inline-block;
  padding: 0 10px;
  margin: 0 10px;
  background-color: #F8BD0B;
  color: #FFF;
  border: solid 2px rgba(255, 255, 255, 0.8);
  text-decoration: none;
  border-radius: 5px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
  transition: all 0.2s;
}
#header #add-activity a:hover {
  background-color: #FADF2D;
}
#header #add-activity a:active {
  transform: scale(0.95);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
}
.field-wrapper {
  display: block;
  position: relative;
  margin: 20px 0;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
  background-color: #FFFFFF;
  height: 50px;
  border-radius: 3px;
}
.field-wrapper label {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 16px;
  padding: 19px 10px;
  color: #AAAAAA;
  transition: all 0.2s;
  font-weight: 600;
}
.field-wrapper input {
  background-color: transparent;
  border: none;
  outline: none;
  border-radius: 0;
  font-size: 16px;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  box-sizing: border-box;
  padding: 25px 10px 0 10px;
}
.field-wrapper:hover label,
.field-wrapper.focus label {
  color: #25B9C5;
}
.field-wrapper.focus label,
.field-wrapper.has-value label {
  font-size: 11px;
  padding-top: 7px;
}
.toggle-wrapper {
  display: block;
  position: relative;
  margin: 20px 0;
  height: 50px;
  overflow: hidden;
  box-sizing: border-box;
}
.toggle-wrapper label {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 16px;
  padding: 19px 10px;
  transition: all 0.2s;
  font-weight: 600;
}
.toggle-wrapper .options {
  float: right;
  overflow: hidden;
  text-align: right;
  box-sizing: border-box;
}
button {
  outline: none;
  border: none;
  font-size: 16px;
  padding: 16px;
  box-sizing: border-box;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s;
}
button:active {
  transform: scale(0.95);
}
.toggle-wrapper .options button {
  background-color: #FFFFFF;
  color: #25B9C5;
  display: block;
  float: left;
  min-width: 100px;
}
.toggle-wrapper .options button.active {
  background-color: #25B9C5;
  color: #FFFFFF;
  cursor: default;
}
.toggle-wrapper .options button.active:active {
  transform: none;
}
button.button {
  outline: none;
  border: none;
  background-color: #25B9C5;
  color: #FFFFFF;
  font-size: 16px;
  padding: 16px;
  box-sizing: border-box;
  display: block;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s;
}
@media all and (max-width: 1310px) {
  #header,
  #body {
    width: auto;
    margin: 0;
  }
  #header {
    padding-top: 10px;
  }
  #header > div:first-child {
    height: 400px;
  }
  #header #logo {
    margin-top: -150px;
  }
}
@media all and (max-width: 960px) {
  .overlay-content {
    width: auto !important;
    height: auto !important;
    margin: 0 !important;
    top: 5px !important;
    bottom: 5px !important;
    left: 5px !important;
    right: 5px !important;
  }
}
@media all and (max-width: 660px) {
  #header #logo {
    height: 50px;
    width: 200px;
    margin-left: -100px;
    margin-top: -135px;
  }
  #header > div:first-child {
    height: 400px;
  }
  #search-location {
    position: relative;
    right: auto;
    width: 100%;
  }
  #header > div > .search-wrapper {
    height: 80px;
    left: 10px;
    right: 10px;
    bottom: 140px;
  }
  #header > div > .search-wrapper > div {
    display: block;
    width: 100%;
  }
  #header > div > .search-wrapper > div:last-of-type {
    left: 0;
    top: 50%;
    border-left: none;
    border-top: solid 1px rgba(255, 255, 255, 0.5);
  }
  #search-button {
    display: block;
    width: 100%;
    top: 100%;
    right: auto;
    margin-top: 10px;
    text-align: center;
  }
  #search-button > span {
    position: relative;
    top: auto;
    left: auto;
    right: auto;
    margin: 0;
    width: auto;
  }
  #search-button > span.search-text {
    display: inline-block;
    margin-left: 5px;
  }
  #search-button:active {
    transform: scale(0.98);
  }
  #header #add-activity {
    bottom: 10px;
  }
  #header #add-activity * {
    font-size: 13px;
  }
  #header #add-activity span {
    font-size: 12px;
  }
  #header #add-activity a {
    display: block;
    width: 70px;
    margin: 10px auto;
  }
  .field-wrapper,
  .toggle-wrapper {
    margin: 10px 0;
  }
  .toggle-wrapper {
    text-align: center;
    height: auto;
  }
  .toggle-wrapper label {
    position: relative;
    display: block;
    width: auto;
  }
  .toggle-wrapper .options {
    float: none;
  }
  .toggle-wrapper .options button {
    width: 50%;
  }
}