
.icon-bored-pass_4x4:before { content: '\e800'; } /* '' */
.icon-bored-pass_abseiling:before { content: '\e801'; } /* '' */
.icon-bored-pass_adventure-tour:before { content: '\e802'; } /* '' */
.icon-bored-pass_aerobatics:before { content: '\e803'; } /* '' */
.icon-bored-pass_airboarding:before { content: '\e804'; } /* '' */
.icon-bored-pass_airboating:before { content: '\e805'; } /* '' */
.icon-bored-pass_airsoft:before { content: '\e806'; } /* '' */
.icon-bored-pass_animal-sanctuary:before { content: '\e807'; } /* '' */
.icon-bored-pass_archery-tag:before { content: '\e808'; } /* '' */
.icon-bored-pass_archery:before { content: '\e809'; } /* '' */
.icon-bored-pass_art:before { content: '\e80a'; } /* '' */
.icon-bored-pass_axe-throwing:before { content: '\e80b'; } /* '' */
.icon-bored-pass_beach-yoga:before { content: '\e80c'; } /* '' */
.icon-bored-pass_beer-tasting:before { content: '\e80d'; } /* '' */
.icon-bored-pass_birding-tour:before { content: '\e80e'; } /* '' */
.icon-bored-pass_blobbing:before { content: '\e80f'; } /* '' */
.icon-bored-pass_boat-charter:before { content: '\e810'; } /* '' */
.icon-bored-pass_bodyboarding:before { content: '\e811'; } /* '' */
.icon-bored-pass_botanical-gardens:before { content: '\e812'; } /* '' */
.icon-bored-pass_bouldering:before { content: '\e813'; } /* '' */
.icon-bored-pass_bowling:before { content: '\e814'; } /* '' */
.icon-bored-pass_bridge-swinging:before { content: '\e815'; } /* '' */
.icon-bored-pass_bubble-soccer:before { content: '\e816'; } /* '' */
.icon-bored-pass_bungee-jumping:before { content: '\e817'; } /* '' */
.icon-bored-pass_bushcraft:before { content: '\e818'; } /* '' */
.icon-bored-pass_cable-car:before { content: '\e819'; } /* '' */
.icon-bored-pass_camping:before { content: '\e81a'; } /* '' */
.icon-bored-pass_canoeing:before { content: '\e81b'; } /* '' */
.icon-bored-pass_canopy-tour:before { content: '\e81c'; } /* '' */
.icon-bored-pass_canyoning:before { content: '\e81d'; } /* '' */
.icon-bored-pass_cave-diving:before { content: '\e81e'; } /* '' */
.icon-bored-pass_caving:before { content: '\e81f'; } /* '' */
.icon-bored-pass_child-friendly:before { content: '\e820'; } /* '' */
.icon-bored-pass_city-tour:before { content: '\e821'; } /* '' */
.icon-bored-pass_clay-pigeon-shooting:before { content: '\e822'; } /* '' */
.icon-bored-pass_cliff-jumping:before { content: '\e823'; } /* '' */
.icon-bored-pass_climbing-wall:before { content: '\e824'; } /* '' */
.icon-bored-pass_coasteering:before { content: '\e825'; } /* '' */
.icon-bored-pass_cross-country-skiing:before { content: '\e826'; } /* '' */
.icon-bored-pass_crossbowing:before { content: '\e827'; } /* '' */
.icon-bored-pass_cultural-tours:before { content: '\e828'; } /* '' */
.icon-bored-pass_cycling:before { content: '\e829'; } /* '' */
.icon-bored-pass_disabled-friendly:before { content: '\e82a'; } /* '' */
.icon-bored-pass_dolphin-swimming:before { content: '\e82b'; } /* '' */
.icon-bored-pass_dolphin-watching:before { content: '\e82c'; } /* '' */
.icon-bored-pass_drift-trike:before { content: '\e82d'; } /* '' */
.icon-bored-pass_driving-range:before { content: '\e82e'; } /* '' */
.icon-bored-pass_drone-racing:before { content: '\e82f'; } /* '' */
.icon-bored-pass_electric-bike:before { content: '\e830'; } /* '' */
.icon-bored-pass_enduro:before { content: '\e831'; } /* '' */
.icon-bored-pass_fat-bike:before { content: '\e832'; } /* '' */
.icon-bored-pass_film:before { content: '\e833'; } /* '' */
.icon-bored-pass_flyboarding:before { content: '\e834'; } /* '' */
.icon-bored-pass_fruit-picking:before { content: '\e835'; } /* '' */
.icon-bored-pass_gliding:before { content: '\e836'; } /* '' */
.icon-bored-pass_golf:before { content: '\e837'; } /* '' */
.icon-bored-pass_gorge-swinging:before { content: '\e838'; } /* '' */
.icon-bored-pass_grape-stomping:before { content: '\e839'; } /* '' */
.icon-bored-pass_gyrocopter-flight:before { content: '\e83a'; } /* '' */
.icon-bored-pass_hang-gliding:before { content: '\e83b'; } /* '' */
.icon-bored-pass_helicopter:before { content: '\e83c'; } /* '' */
.icon-bored-pass_hiking:before { content: '\e83d'; } /* '' */
.icon-bored-pass_hotair-balloon:before { content: '\e83e'; } /* '' */
.icon-bored-pass_hovercraft:before { content: '\e83f'; } /* '' */
.icon-bored-pass_human-slingshot:before { content: '\e840'; } /* '' */
.icon-bored-pass_hydro-jet-packs:before { content: '\e841'; } /* '' */
.icon-bored-pass_ice-climbing:before { content: '\e842'; } /* '' */
.icon-bored-pass_ice-skating:before { content: '\e843'; } /* '' */
.icon-bored-pass_igloo-building:before { content: '\e844'; } /* '' */
.icon-bored-pass_indoor-cricket:before { content: '\e845'; } /* '' */
.icon-bored-pass_indoor-netball:before { content: '\e846'; } /* '' */
.icon-bored-pass_indoor-soccer:before { content: '\e847'; } /* '' */
.icon-bored-pass_indoor-volleyball:before { content: '\e848'; } /* '' */
.icon-bored-pass_jet-boating:before { content: '\e849'; } /* '' */
.icon-bored-pass_jet-flight-experience:before { content: '\e84a'; } /* '' */
.icon-bored-pass_jet-skiing:before { content: '\e84b'; } /* '' */
.icon-bored-pass_jetboating:before { content: '\e84c'; } /* '' */
.icon-bored-pass_karting:before { content: '\e84d'; } /* '' */
.icon-bored-pass_kayaking:before { content: '\e84e'; } /* '' */
.icon-bored-pass_kite-buggying:before { content: '\e84f'; } /* '' */
.icon-bored-pass_kiteboarding:before { content: '\e850'; } /* '' */
.icon-bored-pass_kneeboarding:before { content: '\e851'; } /* '' */
.icon-bored-pass_land-karting:before { content: '\e852'; } /* '' */
.icon-bored-pass_landmarks-and-heritage-sites:before { content: '\e853'; } /* '' */
.icon-bored-pass_laser-tag:before { content: '\e854'; } /* '' */
.icon-bored-pass_lesson:before { content: '\e855'; } /* '' */
.icon-bored-pass_maze:before { content: '\e856'; } /* '' */
.icon-bored-pass_microlight-flight:before { content: '\e857'; } /* '' */
.icon-bored-pass_mini-golf:before { content: '\e858'; } /* '' */
.icon-bored-pass_motorcycle:before { content: '\e859'; } /* '' */
.icon-bored-pass_mountain-biking:before { content: '\e85a'; } /* '' */
.icon-bored-pass_mountain-boarding:before { content: '\e85b'; } /* '' */
.icon-bored-pass_museum:before { content: '\e85c'; } /* '' */
.icon-bored-pass_nature-reserve:before { content: '\e85d'; } /* '' */
.icon-bored-pass_obsticle-course:before { content: '\e85e'; } /* '' */
.icon-bored-pass_ocean-floor-walking:before { content: '\e85f'; } /* '' */
.icon-bored-pass_paintball:before { content: '\e860'; } /* '' */
.icon-bored-pass_paragliding:before { content: '\e861'; } /* '' */
.icon-bored-pass_parasailing:before { content: '\e862'; } /* '' */
.icon-bored-pass_pet-friendly:before { content: '\e863'; } /* '' */
.icon-bored-pass_picnic:before { content: '\e864'; } /* '' */
.icon-bored-pass_power-boating-:before { content: '\e865'; } /* '' */
.icon-bored-pass_quad-biking:before { content: '\e866'; } /* '' */
.icon-bored-pass_rafting:before { content: '\e867'; } /* '' */
.icon-bored-pass_rap-jumping:before { content: '\e868'; } /* '' */
.icon-bored-pass_rental:before { content: '\e869'; } /* '' */
.icon-bored-pass_rhino-tracking:before { content: '\e86a'; } /* '' */
.icon-bored-pass_river-trekking:before { content: '\e86b'; } /* '' */
.icon-bored-pass_rock-climbing:before { content: '\e86c'; } /* '' */
.icon-bored-pass_rollerblading:before { content: '\e86d'; } /* '' */
.icon-bored-pass_rollerskating:before { content: '\e86e'; } /* '' */
.icon-bored-pass_rope-course:before { content: '\e86f'; } /* '' */
.icon-bored-pass_running:before { content: '\e870'; } /* '' */
.icon-bored-pass_safariz:before { content: '\e871'; } /* '' */
.icon-bored-pass_sailing:before { content: '\e872'; } /* '' */
.icon-bored-pass_sand-sledding:before { content: '\e873'; } /* '' */
.icon-bored-pass_sandboarding:before { content: '\e874'; } /* '' */
.icon-bored-pass_scenic-flight:before { content: '\e875'; } /* '' */
.icon-bored-pass_scootours:before { content: '\e876'; } /* '' */
.icon-bored-pass_scuba-diving:before { content: '\e877'; } /* '' */
.icon-bored-pass_seakarting:before { content: '\e878'; } /* '' */
.icon-bored-pass_seal-snorkelling-23:before { content: '\e879'; } /* '' */
.icon-bored-pass_seal-snorkelling-74:before { content: '\e87a'; } /* '' */
.icon-bored-pass_seal-swimming:before { content: '\e87b'; } /* '' */
.icon-bored-pass_segway-tour:before { content: '\e87c'; } /* '' */
.icon-bored-pass_sidecar-tour:before { content: '\e87d'; } /* '' */
.icon-bored-pass_sightseeing-tour:before { content: '\e87e'; } /* '' */
.icon-bored-pass_skate-park:before { content: '\e87f'; } /* '' */
.icon-bored-pass_skateboarding:before { content: '\e880'; } /* '' */
.icon-bored-pass_skiing:before { content: '\e881'; } /* '' */
.icon-bored-pass_skydiving:before { content: '\e882'; } /* '' */
.icon-bored-pass_slacklining:before { content: '\e883'; } /* '' */
.icon-bored-pass_slackpacking:before { content: '\e884'; } /* '' */
.icon-bored-pass_sledding:before { content: '\e885'; } /* '' */
.icon-bored-pass_snorkeling:before { content: '\e886'; } /* '' */
.icon-bored-pass_snow-tubing:before { content: '\e887'; } /* '' */
.icon-bored-pass_snowbiking:before { content: '\e888'; } /* '' */
.icon-bored-pass_snowboarding:before { content: '\e889'; } /* '' */
.icon-bored-pass_snowga:before { content: '\e88a'; } /* '' */
.icon-bored-pass_snowkiting:before { content: '\e88b'; } /* '' */
.icon-bored-pass_snowmobiling:before { content: '\e88c'; } /* '' */
.icon-bored-pass_snowshoeing:before { content: '\e88d'; } /* '' */
.icon-bored-pass_stargazing:before { content: '\e88e'; } /* '' */
.icon-bored-pass_steam-train-rides:before { content: '\e88f'; } /* '' */
.icon-bored-pass_submarine-tour:before { content: '\e890'; } /* '' */
.icon-bored-pass_sunset-cruise:before { content: '\e891'; } /* '' */
.icon-bored-pass_sup-yoga:before { content: '\e892'; } /* '' */
.icon-bored-pass_sup:before { content: '\e893'; } /* '' */
.icon-bored-pass_surfing:before { content: '\e894'; } /* '' */
.icon-bored-pass_surfski:before { content: '\e895'; } /* '' */
.icon-bored-pass_swimming:before { content: '\e896'; } /* '' */
.icon-bored-pass_target-shooting:before { content: '\e897'; } /* '' */
.icon-bored-pass_tennis:before { content: '\e898'; } /* '' */
.icon-bored-pass_theme-park:before { content: '\e899'; } /* '' */
.icon-bored-pass_tobogganing:before { content: '\e89a'; } /* '' */
.icon-bored-pass_tour:before { content: '\e89b'; } /* '' */
.icon-bored-pass_township-tour:before { content: '\e89c'; } /* '' */
.icon-bored-pass_trail-running:before { content: '\e89d'; } /* '' */
.icon-bored-pass_tram-rides:before { content: '\e89e'; } /* '' */
.icon-bored-pass_trampoline-park:before { content: '\e89f'; } /* '' */
.icon-bored-pass_trapeze:before { content: '\e8a0'; } /* '' */
.icon-bored-pass_trekking:before { content: '\e8a1'; } /* '' */
.icon-bored-pass_tubbing:before { content: '\e8a2'; } /* '' */
.icon-bored-pass_tunnel-tours:before { content: '\e8a3'; } /* '' */
.icon-bored-pass_turtle-tracking:before { content: '\e8a4'; } /* '' */
.icon-bored-pass_via-ferrata:before { content: '\e8a5'; } /* '' */
.icon-bored-pass_wakeboarding:before { content: '\e8a6'; } /* '' */
.icon-bored-pass_walking-tour:before { content: '\e8a7'; } /* '' */
.icon-bored-pass_water-skiing:before { content: '\e8a8'; } /* '' */
.icon-bored-pass_waterfall-climbing:before { content: '\e8a9'; } /* '' */
.icon-bored-pass_waterpark:before { content: '\e8aa'; } /* '' */
.icon-bored-pass_whale-watching:before { content: '\e8ab'; } /* '' */
.icon-bored-pass_windsurfing:before { content: '\e8ac'; } /* '' */
.icon-bored-pass_wine-tasting:before { content: '\e8ad'; } /* '' */
.icon-bored-pass_yacht-tour:before { content: '\e8ae'; } /* '' */
.icon-bored-pass_zipline:before { content: '\e8af'; } /* '' */
.icon-bored-pass_zorbing:before { content: '\e8b0'; } /* '' */
.icon-compass-arrow:before { content: '\e8b1'; } /* '' */