div(class='add-activity')
  div(class='cover-image')
    h1 Add a
      span(class='strong') new listing
    button(class='close round-button')
      span(class='fa fa-close')
  nav(class='breadcrumb')
    span(class='line')
    a(href='javascript:void(0);' class='active') 1
    a(href='javascript:void(0);') 2
    a(href='javascript:void(0);') 3
  div(class='step')
    p Do you know of a business or a venue that provides fun or interesting activities? Of course you do! Help cure boredom and list it on BoredPass today for free. All you need to do is complete our simple 3 part form. If you are unsure about anything, please check out our FAQ page.
    div(class='field-wrapper')
      label Name of business/venue
      input(type='text' id='businessname')
    div(class='field-wrapper')
      label Tag the activities offered*
      input(type='text' id='tags')
    div(class='field-wrapper')
      label Address*
      input(type='text' id='address')
    div(class='field-wrapper')
      label Website link
      input(type='text' id='website')
    div(class='toggle-wrapper')
      label Is this your business?*
      div(class='options')
        button(class='active') Yes
        button No
    button(class='button next') Next
  div(class='step shift right1')
    p BoredPass thrives on information, so the more you supply us, the better we can serve you and your clients. You deserve to be found, so do us a solid and fill in as much as you can, even if the fields in question aren't mandatory.
    button(class='button prev half') Previous
    button(class='button next half') Next
  div(class='step shift right2')
    p Images speak a thousand words, especially good ones. We recommend quality over quantity to ensure your listing leaves people wanting more. Sounds good, doesn't it?
    button(class='button prev half') Previous
    button(class='button done half') Done!