div.add-listing-modal
  a.close.fa.fa-times(href='/close')
  div.wizard-steps
    h1 Add a new listing
    nav
      a.active 1
      a 2
      a 3
  div.wizard-content
    include add_listing_step1
    include add_listing_step2
    include add_listing_step3