include ../mixins/photo_upload

.banner-library
  h1 Banners
    a.close(href='close') +
  div
    p Upload your own banner:
    +photoUpload()(data-url='/content/upload', data-allow-change='true').custom-banner
    p Choose one from our library:
    .banners
      each banner in banners
        a('data-value'=banner, href='select-banner')=banner