include ../mixins/listing_card

if listings && listings.length
  each listing in listings
    +listing_card(listing, ' from you')

if !listings || !listings.length || listings.length < limit
  .no-more-data
    h1 Oh no! Seems like you have explored all we have to offer in terms of #{category} experiences. Why not broaden your horizons and check out some of the following?
    .recommendations
      each category in categories
        a(href='/categories/' + category.url + '/', class=category.url)
          span= category.name 