include ../mixins/avatar

- var isAuthenticated = authentication && authentication.isAuthenticated

if isAuthenticated
  a.user-profile(href="/profile-options")= authentication.user.name.split(' ')[0]
    +avatar(authentication.user)
  .menu-box
    i.arrow-top
    a.my-profile(href=`/user/${authentication.user._id}/${authentication.utils.makeUrlFriendly(authentication.user.name)}`) My Profile
      span.fa.fa-user
    a.sign-out(href="/secure/sign-out") Sign Out
      span.fa.fa-power-off

if !isAuthenticated
  a.sign-in(href="/secure/sign-in") Sign In
    span.fa.fa-user